{% extends "navbar.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="content">
        <h1 class="slogan">Lift Together, <br> <span>Grow Together</span></h1>
        <div class="txtContainer">
            <p>Whether you're smashing personal records or cheering on your fitness community, our app brings gym-goers together. Build your own space to connect, train, and grow as a team.</p>
        </div>
        <div class="img-carousell">
            <img src="/static/logo.png" alt="logo">
        </div>
    </div>
{% endblock %}